h1{
    text-decoration: underline;
}

h1::before{
    content: "🥸";
    text-decoration: none;
}

h1::after{
    content: "🧐";
    text-decoration: none;
}

/* Afectamos la primera linea del parrafo */
p::first-line{
    color: darkorange;
    font-weight: bold;
    font-size: 30px;
}

span{
    color: red;
    text-decoration: underline;
}

input{
    color: red;
    background-color: rgb(225, 180, 187);
}

input::placeholder{
    color: #d5b1b1;
}