*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

h1{
    text-align: center;
}

p{
    margin-bottom: 0.5rem;
}

/* Fuentes */

.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

/* Header */

header{
    background-color: #9d020a;
}

header nav a img.logo, .carousel-caption img.logo{
    width: 100px;
    height: auto;
}

header nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

header nav a{
    color: #e3ecf6;
    font-size: 20px;
}

/* Footer */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.index footer, .catalogo footer, .vendedores footer, .contacto footer{
  position: static;
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

legend{
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
}

form div button{
    padding: 6px;
    border-radius: 5px;
}


[type=reset] {
    background-color: red;
    color: white;
}

[type=submit] {
    background-color: green;
    color: white;
}